@page "/portfolio/portfolio4"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="포토폴리오 - 빅데이터 처리 가시화" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle><h6 class="font-weight-bold">사용 기술</h6></CardTitle>
        </Title>
        <Body>
            <Table>
                <TableHead>
                    <TableRow>
                        <TableHeadCell>#</TableHeadCell>
                        <TableHeadCell>Task</TableHeadCell>
                        <TableHeadCell>참여도</TableHeadCell>
                        <TableHeadCell></TableHeadCell>
                    </TableRow>
                </TableHead>
                <TableBody>
                    <TableRow>
                        <TableCell>1.</TableCell>
                        <TableCell>WPF</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.danger" /></TableCell>
                        <TableCell><Badge Classes="badge.right.danger">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>2.</TableCell>
                        <TableCell>WCF</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.warning" /></TableCell>
                        <TableCell><Badge Classes="badge.right.warning">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>3.</TableCell>
                        <TableCell>ASP.NET Core</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.info" /></TableCell>
                        <TableCell><Badge Classes="badge.right.info">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>4.</TableCell>
                        <TableCell>MSSQL</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.info" /></TableCell>
                        <TableCell><Badge Classes="badge.right.info">100%</Badge></TableCell>
                    </TableRow>
                </TableBody>
            </Table>
        </Body>
    </Card>


    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">개요</h6></CardTitle></Title>
        <Body>
            <p>
                데이터를 실제 지도 레이어 위에 카메라 영상 및 차트, 도형 등으로 표현하고 운영자가 데이터 수치를 지도에서 건물별 그리고 층별 또는 해당 장비 대상 일 경우 장비의 도면 등에서 직관적으로 데이터를 이해 할 수 있도록 제공 합니다.<br/>
                이를 통해 통합 데이터 관리, 문제점 발생시 빠른 대처 등이 가능하도록 처리 합니다.
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">담당파트</h6></CardTitle></Title>
        <Body>
            <p>
                센서 등 장비 시리얼통신 연동<br/>
                타일 맵 기반 지도 에디터 툴 개발
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">어려웠던 점 or 고민</h6></CardTitle></Title>
        <Body>
            <p>
                -
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">스크린샷</h6></CardTitle></Title>
        <Body>
            <p>
                해당 사이트에서 비공개
            </p>
        </Body>
    </Card>


</ContentMain>
