@page "/portfolio/portfolio3"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="포토폴리오 - CCTV 관제센터솔루션" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle><h6 class="font-weight-bold">사용 기술</h6></CardTitle>
        </Title>
        <Body>
            <Table>
                <TableHead>
                    <TableRow>
                        <TableHeadCell>#</TableHeadCell>
                        <TableHeadCell>Task</TableHeadCell>
                        <TableHeadCell>참여도</TableHeadCell>
                        <TableHeadCell></TableHeadCell>
                    </TableRow>
                </TableHead>
                <TableBody>
                    <TableRow>
                        <TableCell>1.</TableCell>
                        <TableCell>WPF</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.danger" /></TableCell>
                        <TableCell><Badge Classes="badge.right.danger">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>2.</TableCell>
                        <TableCell>WCF</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.warning" /></TableCell>
                        <TableCell><Badge Classes="badge.right.warning">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>3.</TableCell>
                        <TableCell>C++(영상압축)</TableCell>
                        <TableCell><Progress Percentage="0" Classes="progress.purple" /></TableCell>
                        <TableCell><Badge Classes="badge.right.purple">0%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>4.</TableCell>
                        <TableCell>MSSQL</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.orange" /></TableCell>
                        <TableCell><Badge Classes="badge.right.orange">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>5.</TableCell>
                        <TableCell>Splunk</TableCell>
                        <TableCell><Progress Percentage="50" Classes="progress.info" /></TableCell>
                        <TableCell><Badge Classes="badge.right.info">50%</Badge></TableCell>
                    </TableRow>
                </TableBody>
            </Table>
        </Body>
    </Card>


    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">개요</h6></CardTitle></Title>
        <Body>
            <p>
                관공서, 지하철, 고속도로 및 기타 민간 사설 업체에 납품되는 IP카메라 CCTV 관제 솔루션 입니다.<br/>
                PTZ가 지원되는 CCTV를 이용해 실시간 카메라 영상을 조작하고 녹화본 영상 관리, 커스텀 바둑판식 실시간 영상 표시 관리를 제공 합니다.
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">담당파트</h6></CardTitle></Title>
        <Body>
            <p>
                기존 관제 솔루션 유지보수<br/>
                카메라 녹화 영상 관리 솔루션 유지보수<br />
                DP 개발
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">어려웠던 점 or 고민</h6></CardTitle></Title>
        <Body>
            <p>
                -
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">스크린샷</h6></CardTitle></Title>
        <Body>
            <p>
                해당 사이트에서 비공개
            </p>
        </Body>
    </Card>


</ContentMain>
