@page "/portfolio/portfolio6"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="포토폴리오 - Clone 당근마켓" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle><h6 class="font-weight-bold">사용 기술</h6></CardTitle>
        </Title>
        <Body>
            <Table>
                <TableHead>
                    <TableRow>
                        <TableHeadCell>#</TableHeadCell>
                        <TableHeadCell>Task</TableHeadCell>
                        <TableHeadCell>참여도</TableHeadCell>
                        <TableHeadCell></TableHeadCell>
                    </TableRow>
                </TableHead>
                <TableBody>
                    <TableRow>
                        <TableCell>1.</TableCell>
                        <TableCell>Flutter</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.danger" /></TableCell>
                        <TableCell><Badge Classes="badge.right.danger">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>2.</TableCell>
                        <TableCell>Node.js</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.warning" /></TableCell>
                        <TableCell><Badge Classes="badge.right.warning">100%</Badge></TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell>3.</TableCell>
                        <TableCell>Firebase Real DB</TableCell>
                        <TableCell><Progress Percentage="100" Classes="progress.info" /></TableCell>
                        <TableCell><Badge Classes="badge.right.info">100%</Badge></TableCell>
                    </TableRow>
                </TableBody>
            </Table>
        </Body>
    </Card>


    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">개요</h6></CardTitle></Title>
        <Body>
            <p>
                당근마켓 App UI/UX와 기능을 Flutter로 Clone<br/><br/>

                관련 github : <a href="https://github.com/tyeom/flutter_carrot_market" target="_blank">flutter_carrot_market</a>
            </p>
        </Body>
    </Card>

    <Card>
        <Title><CardTitle><h6 class="font-weight-bold">스크린샷</h6></CardTitle></Title>
        <Body>
            <p>
                <img src="https://user-images.githubusercontent.com/13028129/206992683-edb9c45c-aec0-474d-90b9-f9bb15a3005c.png" /><br/>
                <img src="https://user-images.githubusercontent.com/13028129/207193186-66d25b28-33b5-41d4-ad7d-ca41442d67bd.png" />
            </p>
        </Body>
    </Card>


</ContentMain>
