@page "/"
<ContentHeader>
    <Header>
        <iframe frameborder="0"
            src="https://capsule-render.vercel.app/api?type=waving&color=auto&height=300&section=header&text=(()%20=>%20console.log('Hello,%20 World!'))();&fontSize=45"
            style="display:block; width:80vw; height: 25vh" />
    </Header>
</ContentHeader>
<ContentMain>
    
    <Card>
        <Body>
            <div>
                <!-- row -->
                <div class="row p-30-0">
                    <!-- col -->
                    <div class="col-md-3 col-6">
                        <div>
                            <div>
                                <h3 class="font-weight-bold text-danger">11 +</h3>
                            </div>
                            <h6>Years of hands-on project experience</h6>
                        </div>
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-md-3 col-6">
                        <div>
                            <div>
                                <h3 class="font-weight-bold text-danger">3</h3>
                            </div>
                            <h6>Active blogs and communities</h6>
                        </div>
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-md-3 col-6">
                        <div>
                            <div>
                                <h3 class="font-weight-bold text-danger">10 +</h3>
                            </div>
                            <h6>Completed Projects</h6>
                        </div>
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-md-3 col-6">
                        <div>
                            <div>
                                <h3 class="font-weight-bold text-danger">2</h3>
                            </div>
                            <h6>Projects In Progress</h6>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
        </Body>
    </Card>

    <h5 class="mt-4 mb-2 font-weight-bold">My language skills</h5>
    <Row>
        <Column Classes="col.md._6">
            <Card HeaderBackgroundColor="Color.White">
                <Title><CardTitle><h5 class="font-weight-bold">C#</h5></CardTitle></Title>
                <Body>
                    <Alert Title="C#">
                        닷넷 환경에서 <span class="font-weight-bold">WPF, WinForm, ASP.NET Cor MVC</span> 등 프로젝트 경험이 풍부 합니다.<br />
                        주로 멀티 스레드 환경에서의 동기/비동기 처리 경험이 많고, 객체지향 사고 방식으로 효율적인 클래스 설계로<br/>
                        MVVM 아키텍처 패턴 도입 등 주도적으로 프로젝트 전체적 설계 경험이 있습니다.<br />
                        필요하다면 EF 및 Dapper ORM 기반과 LINQ 사용으로 데이터 처리가 가능합니다.
                    </Alert>
                </Body>
            </Card>
        </Column>

        <Column Classes="col.md._6">
            <Card HeaderBackgroundColor="Color.White">
                <Title><CardTitle><h5 class="font-weight-bold">JavaScript</h5></CardTitle></Title>
                <Body>
                    <Alert Title="JavaScript">
                        Node.js 플랫폼에서 Express 등 웹프레임워크 기반으로 Backend RestFul API 서버 개발과<br/>
                        ORM 시스템 연동으로 데이터 처리 경험이 있습니다.<br />
                        JavaScript의 느슨한 타입 성질 때문에 효율적인 디버깅 방법과 코드 처리 및 TypeScript도 같이 염두해 두고 있습니다.
                    </Alert>
                </Body>
            </Card>
        </Column>

        <Column Classes="col.md._6">
            <Card HeaderBackgroundColor="Color.White">
                <Title><CardTitle><h5 class="font-weight-bold">Dart(Flutter)</h5></CardTitle></Title>
                <Body>
                    <Alert Title="Dart(Flutter)">
                        크로스 플랫폼 Flutter 프레임워크 기반으로 데스크톱 및 AOS 네이티브 App, 게임(flame) 개발 경험과<br/>
                        비즈니스 로직 분리, BLOB 패턴 도입 효율적인 상태관리를 고려하여 App 성능 저하가 되지 않도록 개발하는데 중점을 두고 있습니다.
                    </Alert>
                </Body>
            </Card>
        </Column>

        <Column Classes="col.md._6">
            <Card HeaderBackgroundColor="Color.White">
                <Title><CardTitle><h5 class="font-weight-bold">Kotlin(Android)</h5></CardTitle></Title>
                <Body>
                    <Alert Title="Kotlin(Android)">
                        개인 앱 및 외부 업체 수주 요청으로 네이티브 기반 안드로이드 앱 제작 경험이 있습니다.<br />
                        카카오톡 봇, 자동 매매, GPS연동 고객 서비스 App 등 기획 요구사항에 맞게 개발 가능합니다.
                    </Alert>
                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>
