@page "/tutoring/wpf"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="과외 경험 - WPF" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle><h6 class="font-weight-bold">WPF 과외 커리큘럼</h6></CardTitle></Title>
        <Body>
            <p>
                <span class="font-weight-bold">[1 주차]</span><br />
                <ol type="1">
                    <li>
                        WPF, XAML의 개요
                        <ul>
                            <li>WPF 프로젝트 구성 요소</li>
                        </ul>
                    </li>

                    <li>
                        Control 이해
                        <ul>
                            <li>Grid, StackPanel, Button 등</li>
                        </ul>
                    </li>

                    <li>
                        의존 프로퍼티 이해
                        <ul>
                            <li>유저컨트롤에서 일반 프로퍼티와 의존 프로퍼티 차이</li>
                        </ul>
                    </li>
                </ol>

                <span class="font-weight-bold">[2 주차]</span><br />
                <ol type="1">
                    <li>
                        DataBinding 이해 1
                        <ul>
                            <li>바인딩 개념과 DataContext</li>
                            <li>리스트컬렉션 객체 바인딩</li>
                            <li>INotifyPropertyChanged</li>
                        </ul>
                    </li>

                    <li>
                        DataBinding 이해 2
                        <ul>
                            <li>커맨드 바인딩</li>
                            <li>멀티 바인딩</li>
                            <li>데이터 트리거</li>
                        </ul>
                    </li>

                    <li>
                        컨버터
                        <ul>
                            <li>컨버터란?, 컨버터 활용</li>
                        </ul>
                    </li>

                    <li>
                        템플릿
                        <ul>
                            <li>데이터 템플릿</li>
                            <li>컨트롤 템플릿</li>
                            <li>바인딩과 템플릿 (RelativeSource 등)</li>
                        </ul>
                    </li>
                </ol>
                
                <span class="font-weight-bold">[3 주차]</span><br />
                <ol type="1">
                    <li>
                        스타일과 커스텀 컨트롤 구현
                        <ul>
                            <li>전체 스타일 적용</li>
                            <li>부분 스타일 적용</li>
                            <li>스타일로 기본 컨트롤 모양 커스텀하게 꾸며보기</li>
                            <li>커스텀 컨트롤 구현</li>
                        </ul>
                    </li>
                    <li>
                        애니매이션
                        <ul>
                            <li>기본 애니메이션 활용</li>
                        </ul>
                    </li>
                </ol>

                <span class="font-weight-bold">[4 주차]</span><br />
                <ol type="1">
                    <li>
                        MVVM 패턴
                        <ul>
                            <li>MVVM 이란</li>
                            <li>Community Toolkit 라이브러리 사용</li>
                            <li>페이지 전환 처리</li>
                            <li>의존성 주입</li>
                            <li>뷰모델간 데이터 전달 처리</li>
                        </ul>
                    </li>
                </ol>

                <span class="font-weight-bold">[5 주차 ~]</span><br />
                <ol type="1">
                    <li>
                        목표 프로젝트 진행
                    </li>
                </ol>
            </p>
        </Body>
    </Card>

</ContentMain>
