@page "/tutoring/flutter"
<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="과외 경험 - Flutter" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title>
            <CardTitle><h6 class="font-weight-bold">Flutter 과외 커리큘럼</h6></CardTitle></Title>
        <Body>
            <p>
                <ul >
                    <li>
                        StatefulWidget / StatelessWidget 개념 정리
                    </li>
                    <li>
                        기본 Widget 다루기
                    </li>
                    <li>
                        상태 관리
                    </li>
                    <li>
                        내비게이션 처리 등
                    </li>
                    <li>
                        비동기 처리 결과 표시 FutureBuilder 사용
                    </li>
                    <li>
                        Stream 이해
                    </li>
                    <li>
                        BLoC 패턴 도입
                    </li>
                    <li>
                        멀티스레딩 [Isolate]
                    </li>
                    <li>
                        목표 프로젝트 진행
                    </li>
                </ul>
            </p>
        </Body>
    </Card>

</ContentMain>
