name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
      working-directory: Blazor_wasm_Test/Blazor_wasm_Test
    - name: Build
      run: dotnet build --no-restore
      working-directory: Blazor_wasm_Test/Blazor_wasm_Test
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: Blazor_wasm_Test/Blazor_wasm_Test
    - name: Publish with dotnet
      run: dotnet publish --configuration Release --output build
      working-directory: Blazor_wasm_Test/Blazor_wasm_Test
    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: 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
        BASE_BRANCH: master # The branch the action should deploy from.
        BRANCH: master # The branch the action should deploy to.
        FOLDER: Blazor_wasm_Test/Blazor_wasm_Test/wwwroot # The folder the action should deploy.
        SINGLE_COMMIT: true
